# Database
DATABASE_URL="postgresql://user:password@localhost:5432/petite_amelie?schema=public"
FRONTEND_URL="http://localhost:5173"

# SMTP Configuration Emails
SMTP_HOST="smtp.example.com"
SMTP_PORT=587
SMTP_USER="example@example.com"
SMTP_PASS="your_password"

# JWT Secrets
JWT_ACCESS_SECRET="your_access_secret"
JWT_REFRESH_SECRET="your_refresh_secret"

# Cloudinary
CLOUDINARY_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_SECRET="your_api_secret"